@import url(./variables.css);
@import url(./main.css);

@import url(./header.css);
@import url(./footer.css);

@import url(./404.css);
@import url(./auth.css);

@font-face {
    font-family: 'Balsamiq Sans';
    src: url(../fonts/BalsamiqSans-Bold.ttf) format("opentype"); 
    src: url(../fonts/BalsamiqSans-BoldItalic.ttf) format("opentype"); 
    src: url(../fonts/BalsamiqSans-Italic.ttf) format("opentype"); 
    src: url(../fonts/BalsamiqSans-Regular.ttf) format("opentype");
}