.purchase {
    border-radius: 10px;
    border: 1px solid var(--secondary);
    padding: 15px;
}

.purchase .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.purchase .name {
    text-align: center;
    font-size: 25px;
}

.purchase p {
    margin-bottom: 10px;
}

.purchase .label {
    font-size: 18px;
    color: #bdc1d3;
}
