.purchases {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.purchases .table {
    padding: 0;
    width: 80%;
}

.purchases li {
    display: flex;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.purchases .table-header {
    background-color: color-mix(in srgb, var(--primary), rgba(0, 0, 0, 0) 80%);
    position: fixed;
    z-index: 100;
    width: 80%;
}

.purchases .table-row:nth-child(2) {
    margin-top: 50px;
}

.purchases .table-row:last-child {
    margin-bottom: 60px;
}

.purchases .table-row:hover {
    filter: brightness(90%);
}

.col {
    overflow: hidden;
}

.purchases .name {
    flex-basis: 40%;
}

.purchases .category {
    flex-basis: 40%;
}

.purchases .price {
    flex-basis: 20%;
}
