.auth {
    border-radius: 10px;
    border: 1px solid var(--secondary);
    padding: 15px;
    user-select: none;
}

.auth form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 7px 15px;
    margin-bottom: 10px;
}

.auth input {
    background-color: color-mix(in srgb, var(--secondary) 50%, transparent 50%);
    border: 1px solid var(--secondary);
    border-radius: 7px;
    padding: 5px 7px;
}

.auth input:focus-visible {
    outline: none;
    border-color: color-mix(in srgb, var(--secondary) 90%, white);
}

.auth input[type="submit"] {
    justify-items: center;
    padding: 5px 10px;
    color: var(--accent);
}

.auth p {
    font-weight: bold;
}

.auth a {
    color: var(--accent);
}

.auth .redirect-button {
    margin-left: 10px;
}

.auth .errors {
    margin-bottom: 10px;
}

.auth .error {
    margin: 3px 0;
}
